.wrapper{
    margin: 0 auto;
    width: 500px;

}
.wrapper img{
    width:250px;
    margin-left: 100px;
}
.login-area{
    width:500px;
    height:400px;
    border: 1px solid gray;
    margin:50px 0px 0px 0px;
    padding:20px
    
}